# dependencies
node_modules/

# Next.js
.next/
out/

# production build
build/
dist/

# Sanity Studio build output
.sanity/

# misc
.DS_Store
*.pem
*.log
.cache/
tmp/
temp/

# env files
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# sitemap (generated at build time)
public/sitemap*.xml
public/robots.txt
